/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {

  /* Light mode autofill */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: #0c4a6e !important;
    /* text-sky-950 */
    caret-color: #0c4a6e !important;
    transition: background-color 9999s ease-in-out 0s;
  }

  /* Dark mode autofill */
  .dark input:-webkit-autofill,
  .dark input:-webkit-autofill:hover,
  .dark input:-webkit-autofill:focus,
  .dark input:-webkit-autofill:active {
    -webkit-text-fill-color: #ffffff !important;
    /* text-white */
    caret-color: #ffffff !important;
    transition: background-color 9999s ease-in-out 0s;
  }
}

:root {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button:hover {
  cursor: pointer;
}

  .filter-red{
    filter: invert(27%) sepia(83%) saturate(7493%) hue-rotate(356deg) brightness(95%) contrast(107%);
  }

@theme {
  /* Color for primary button */
  --color-btn-primary-light: var(--color-sky-600);
  --color-btn-primary-light-hover: var(--color-sky-700);

  --color-btn-primary-dark: var(--color-sky-400);
  --color-btn-primary-dark-hover: var(--color-sky-300);

  /* Color for secondary button */
  --color-btn-secondary-light: var(--color-gray-200);
  --color-btn-secondary-light-hover: var(--color-gray-300);

  --color-btn-secondary-dark: var(--color-gray-800);
  --color-btn-secondary-dark-hover: var(--color-gray-700);

  /* Color for interactive text */
  --color-interactive-light: var(--color-sky-600);
  --color-interactive-light-hover: var(--color-sky-700);

  --color-interactive-dark: var(--color-sky-400);
  --color-interactive-dark-hover: var(--color-sky-300);

  /* Color for accent button */
  --color-btn-accent: var(--color-rose-500);
  --color-btn-accent-hover-light: var(--color-rose-600);
  --color-btn-accent-hover-dark: var(--color-rose-400);

  --breakpoint-3xl: 121rem;
}

/* Component styles */
@layer components {
  .btn {
    @apply px-4 py-2.5 rounded-md transition-colors text-sm font-semibold;
  }

  .btn-primary {
    @apply text-white dark:text-black bg-btn-primary-light hover:bg-btn-primary-light-hover dark:bg-btn-primary-dark dark:hover:bg-btn-primary-dark-hover;
  }

  .btn-secondary {
    @apply bg-btn-secondary-light text-sky-950 hover:bg-btn-secondary-light-hover dark:bg-btn-secondary-dark dark:hover:bg-btn-secondary-dark-hover dark:text-white;
  }

  .text-button {
    @apply text-interactive-light hover:text-interactive-light-hover dark:text-interactive-dark dark:hover:text-interactive-dark-hover font-semibold;
  }

  .btn-accent {
    @apply text-white bg-btn-accent hover:bg-btn-accent-hover-light dark:hover:bg-btn-accent-hover-dark;
  }

  .text-input {
    @apply w-full mt-1.5 dark:bg-gray-800/50 bg-white block rounded-md outline-1 focus:outline-2 outline-gray-300 dark:outline-gray-700 hover:cursor-pointer focus:cursor-text placeholder:text-gray-500 resize-none focus:outline-interactive-light hover:outline-interactive-light dark:focus:outline-interactive-dark dark:hover:outline-interactive-dark
  }

}